* {
    box-sizing: border-box; 
}

:root {
    --gap: 8px;
}

body {
    margin: 0;
    min-height: 100dvh;
    display: grid;
    place-items: center;
    font-family: "Slackey", sans-serif;
    background-image: url(img/background-of-green-grass-field-cartoon-drawing-free-vector.jpg);
}

h1 {
    text-align: center;
    font-size: 3.5rem;
    color: #fff;
}

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: #fff;
    font-size: 2rem;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    width: 100%;
}

#startBtn, #resetBtn {
    padding: 10px;
    font-family: "Slackey";
    font-size: 1.5rem;
    background: #fff;
    border-radius: 25px;
    color: #000;
    cursor: pointer;
    margin: 10px;
}

#startBtn:hover, #resetBtn:hover {
    transform: scale(1.08);
}

.container {
    width: min(90vw, 840px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    width: min(90vmin, 480px);
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    padding: var(--gap);
}

.cell {
    flex: 1 0 calc(33.333% - var(--gap));
    aspect-ratio: 1 / 1;
    display: grid;
    place-items: center;
    background: #000;
    border: 2px;
    border-radius: 20px;
    cursor: pointer;
}

.cell:focus, #startBtn:focus, #resetBtn:focus {
    outline: 5px solid red;     
    outline-offset: 2px;
}

.cell .mole {
    width: 90%;
    height: 90%;
    background: url("./img/ChatGPT\ Image\ Nov\ 26\,\ 2025\,\ 10_38_04\ AM.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

